astroid==3.1.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
dill==0.3.8
docutils==0.20.1
idna==3.6
isort==5.13.2
lockfile==0.12.2
luigi==3.5.0
mccabe==0.7.0
numpy==1.26.4
pandas==2.2.1
pip-autoremove==0.10.0
platformdirs==4.2.0
pylint==3.1.0
python-daemon==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tenacity==8.2.3
tomli==2.0.1
tomlkit==0.12.4
tornado==6.4
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
